@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #171717;
  --bg-primary: #f7fbf3;
  --bg-secondary: #e6f1d84a;
  --text-primary: #172519;
  --text-secondary: #172519;
  --border-color: #182419;
  --border-color-light: #172519be;
  --accent-green: #e6f1d8;
  --accent-teal: #14453d;
  --dark-green: #182419;
  --darker-green: #0f1810;
  --off-white: #faf9f7;
}

[data-theme="dark"] {
  --bg-primary: #172519;
  --bg-secondary: #1a2a1c;
  --text-primary: #f7fbf3;
  --text-secondary: #f7fbf3;
  --border-color: #f7fbf3;
  --border-color-light: #f7fbf3be;
}

@theme inline {
  --color-bg-primary: var(--bg-primary);
  --color-text-primary: var(--text-primary);
  --color-accent-green: var(--accent-green);
  --color-accent-teal: var(--accent-teal);
  --color-dark-green: var(--dark-green);
  --color-darker-green: var(--darker-green);
  --color-off-white: var(--off-white);
  --font-cormorant: "Cormorant Upright", serif;
  --font-geist-sans: "Geist", system-ui, sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --font-tajawal: "Tajawal", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container-page {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
}

@media (max-width: 768px) {
  .container-page {
    padding: 0 20px;
  }
}
